:root{
    --border-radius: 3px;
    --status-1: rgba(89, 0, 0, 0.4);
    --status-2: rgba(89, 67, 0, 0.4);
    --status-3: rgba(82, 89, 0, 0.4);
    --status-4: rgba(8, 89, 0, 0.4);
    --status-5: rgba(81, 0, 89, 0.4);
    --status-6: rgba(0, 8, 89, 0.4);
    --status-7: rgba(0, 0, 80, 0.4);
}

body{
    min-width: 620px;
    background-color: #000000;
    background-image: url(https://www.transparenttextures.com/patterns/black-mamba.png);
    /*background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);*/
    font-family: sans-serif;
}

h1, .board-title, .board-column-title{
    font-weight: 100;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
}

.board-container{
    max-width: 960px;
    margin: 0 auto;
}

section.board{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header{
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-add, .board-toggle{
    display: inline-block;
}

.board-toggle{
    float: right;
    margin: 13px;
}

.board-columns{
    display: flex;
    flex-wrap: wrap;
    /*flex-wrap: nowrap;*/
}

.board-column{
    padding: 10px;
    flex: 1;
}

.board-column-content{
    min-height: 49px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title{
    text-align: center;
}

.card{
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
}

.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.board-column:nth-of-type(5) .card{
    background: var(--status-5);
}

.board-column:nth-of-type(6) .card{
    background: var(--status-6);
}

.board-column:nth-of-type(7) .card{
    background: var(--status-7);
}

.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

/*.card-title{*/
/*    padding-right: 16px;*/
/*}*/